html, body {
    color: rgb(129, 129, 129);
    height: 98%;
    font-family: "google";
}

@font-face {
    font-family: 'google';
    src: url("fonts/Product\ Sans\ Regular.ttf");
  }

a {
    text-decoration: none;
    color: rgb(129, 129, 129);
    margin: 0 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}
button {
    cursor: pointer;
}
.sign_in {
    background-color: rgb(49, 98, 231);
    color: white;
    border: 0;
    height: 25px;
    width: 60px;
}
.main {
    display: flex;
    flex-direction: column;
    height: 92%;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.logo {
    display: flex;
    justify-content: center;
    font-size: 120px;
    letter-spacing: -4px;
    margin-top: 100px;
}
.g {
    color: rgb(49, 98, 231);
}
.o {
    color: red;
}
.o2 {
    color: orange;
}
.l{
    color: green;
}
.e {
    color: red;
}
.search_section {
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 250px;
}
.buttons {
    display: flex;
    flex-direction: row;
    width: 47%;
    justify-content: center;
}
.search_button, .lucky_button {
    border: 0ch;
    color: rgb(109, 109, 109);
    border-radius: 5px;
    height: 35px;
    width: 150px;
    margin: 0 10px;
}
.search_button:hover, .lucky_button:hover {
    border: 2px solid rgb(145, 145, 145);
    background-color: rgb(214, 214, 214);
}

.search {
    display: flex;
    width: 500px;
    height: 34px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}
input {
    width: 410px;
    height: 26px; 
    border: 0ch;
    font-size: 20px;
}
.search_section svg {
    margin: 8px;
}

input[type=text]:focus {
    outline: none;
}

footer {
    height: 20px;
    background-color: rgb(226, 226, 226);
    padding: 15px 0;
    border: 1px solid rgb(182, 182, 182);
    margin: 0 -8px;
}
